<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#/projects">Projects</a></li>
        <li ><a ng-href="#/tasks">Tasks</a></li>
        <li><a ng-href="#/comments">Comments</a></li>
    </ul>
    <h3 class="text-muted">Projects</h3>
</div>
<div>
    <h5>Add Projects</h5>
    Name<input type="text" ng-model="name"/>
    Description<input type="text" ng-model="description"/>
    <p><div style="width: 50px" class=" btn-success" ng-click="saveProject()">Add<span class="glyphicon glyphicon-ok"></span></div></p>
<table class="table table-hover">
    <thead>
    <tr><th colspan="4">List of Created Projects</th></tr>
    <tr>
        <th>Sr #</th>
        <th>Project Name</th>
        <th>Description</th>
        <th>Created By</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
        <td ng-init="editMode=false">{{$index + 1}}</td>
        <td>
            <input type="text" ng-disabled="!editMode" value="{{project.name}}"/>
        </td>
        <td>
           <input type="text" ng-disabled="!editMode" value="{{project.description}}"/>
        </td>
        <td><p><div class="btn-default" ng-click="deleteProject(project.id,$index)">Delete</div></p></td>

        <td><button class="btn-default" ng-click="getTasks(project.id);openModal()">View Tasks</button></td>
        <td><p><button ng-show="!editMode" style="width: 50px" class="btn-default" ng-click="editMode=true">Edit</button>
            <button ng-show="editMode" class="btn-default" ng-click="editMode=false;updateProject(project)">Save</button></p>
        </td>

    </tr>
    </tbody>
</table>







</div>


